* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --price: rgb(119, 164, 100);
  --black: #545454;
  --brownSelectionColor: #ec7a5c;
  --greySelectionColor: #728d7f;
  --orangeSelectionColor: #d8a15f;
  --silverSelectionColor: #e8e8e8;
  --greenSelectionColor: #647242;
  --greenSelectionColor: #647242;
  --btnSeller: #2a2a2a;
  --btnSellerHover: #606060;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
#logo {
  height: 50px;
  width: 50px;
  transition: 0.25s;
}
#logo:hover {
  opacity: 0.5;
}
header .content {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  width: 700px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  list-style-type: none;
  font-size: 13px;
  font-weight: 700;
}
main {
  height: 570px;
  width: 100%;
  background-image: url(./images/slide02blonde.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content {
  width: 50%;
  height: 100px;
  text-align: center;
  color: white;
}
main h1 {
  font-size: 73px;
  font-weight: 900;
  line-height: 88px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products {
  width: 70%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
}
h1 {
  font-size: 31px;
  line-height: 37px;
  font-weight: 900;
  color: var(--black);
}
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}
.products .productRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productRow .productCol {
  width: 170px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#price {
  font-size: 13px;
  font-weight: 900;
  transition: 0.25s ease-in-out;
}
#price {
  color: var(--price);
}
#description {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  transition: 0.25s ease-in-out;
  margin-bottom: 1em;
  color: var(--price);
}
/* #productCol1 {
  background-size: contain;
  background-image: url(./images/14203267_0-242x300.jpg);
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}
#productCol1 img:hover {
  background-size: contain;
  background-image: url(./images/14203267_1-350x435.jpg);
  background-repeat: no-repeat;
} */
.collection {
  width: 70%;
  height: 540px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 8em;
  margin-bottom: 3em;
}
.collection .content {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.collection a {
  height: inherit;
  width: inherit;
}
.collection .col {
  width: 430px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#bodysuits {
  background-image: url(./images/slide03blonde-1.jpg);
  background-size: cover;
}
#shirts {
  background-image: url(./images/categories-grid-07.jpg);
  background-size: cover;
}
#jumpers {
  background-image: url(./images/categories-grid-08.jpg);
  background-size: cover;
}
.collection .cat {
  margin: 2em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: white;
  color: black;
  transition: 0.25s ease-in-out;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.collection .cat:hover {
  background-color: black;
  color: white;
}
.collection .col .row {
  width: inherit;
  height: 235px;
  background-color: black;
}
.popularWeek {
  width: 60%;
  height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}
.popularWeek .row {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.popularWeek .row .col {
  width: 240px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#popularWeekImg1:hover {
  background-image: url(./images/org-a-350x435.jpg);
}
#brownSelectionColor {
  background-color: var(--brownSelectionColor);
}
#greySelectionColor {
  background-color: var(--greySelectionColor);
}
#silverSelectionColor {
  background-color: var(--silverSelectionColor);
}
#orangeSelectionColor {
  background-color: var(--orangeSelectionColor);
}
#greenSelectionColor {
  background-color: var(--greenSelectionColor);
}
.colorSelection {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: black;
}
span {
  display: flex;
}
button {
  width: 180px;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 12px;
  font-weight: 700;
  color: white;
  background-color: var(--btnSeller);
  transition: 0.25s ease-in-out;
}
button:hover {
  background-color: var(--btnSellerHover);
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .col {
  width: 50%;
  height: 490px;
  padding: 3em;
}
#footerLeftCol {
  background-image: url(./images/slide03blonde-1.jpg);
}
#footerRightCol {
  background-image: url(./images/slide02blonde.jpg);
}
footer h1 {
  font-size: 25px;
  line-height: 37px;
  font-weight: 600;
  color: black;
}
