* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --price: rgb(119, 164, 100);
  --black: #545454;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
#logo {
  height: 50px;
  width: 50px;
  transition: 0.25s;
}
#logo:hover {
  opacity: 0.5;
}
header .content {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  width: 700px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  list-style-type: none;
  font-size: 13px;
  font-weight: 700;
}
main {
  height: 570px;
  width: 100%;
  background-image: url(./images/slide02blonde.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content {
  width: 50%;
  height: 100px;
  text-align: center;
  color: white;
}
main h1 {
  font-size: 73px;
  font-weight: 900;
  line-height: 88px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products {
  width: 70%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
}
h1 {
  font-size: 31px;
  line-height: 37px;
  font-weight: 900;
  color: var(--black);
}
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}
.products .productRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.productRow .productCol {
  width: 170px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#price {
  font-size: 13px;
  font-weight: 900;
  transition: 0.25s ease-in-out;
}
#price {
  color: var(--price);
}
#description {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  transition: 0.25s ease-in-out;
  margin-bottom: 1em;
  color: var(--price);
}
/* #productCol1 {
  background-size: contain;
  background-image: url(./images/14203267_0-242x300.jpg);
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}
#productCol1 img:hover {
  background-size: contain;
  background-image: url(./images/14203267_1-350x435.jpg);
  background-repeat: no-repeat;
} */
.collection {
  width: 70%;
  height: 540px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 8em;
}
.collection .content {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}
.collection .col {
  width: 375px;
  height: 450px;
}
